$text-color: #6666CC;
$copy-border-color: #CC6666;

body {
  width: 100%;
  margin: 0 auto;
}

h1 {
  color: $text-color;
}

#search-form {
  
}

.catalogue-entry {
  padding: 10px;
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.entry-copy {
  padding: 10px;
  margin: 10px;
  border: 1px solid $copy-border-color;
  border-radius: 2px;
}