$text-color: #6666CC;

body {
  width: 100%;
  margin: 0 auto;
}

h1 {
  color: $text-color;
}

#search-form {
  display: none;
}

.catalogue-entry {
  padding: 10px;
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}