//::::::::::://
// VARIABLES //
//::::::::::://

$text-color: #6666CC;
$copy-border-color: #CC6666;

//::::::::::::::://
// HTML ELEMENTS //
//::::::::::::::://

body {
  width: 100%;
  margin: 0 auto;
}

h1 {
  color: $text-color;
}

#banner-ad {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-height: 200px;
  max-width: 360px;
}

#navbar {
  float: left;
  background-color: #DDDDDD;
  padding: 10px 10px 10px 50px;
  border: solid 1px #000000;
  border-radius: 0 5px 5px 0;
  margin-right: 5px;
  list-style-type: none;
}

#navbar li {
  max-width: 100px;
  padding: 3px 0 3px 0;
}

#navbar a {
  display: block;
  width: 100%;
  text-decoration: none;
  border: solid 1px black;
  border-radius: 3px;
  padding: 3px;
}

#navbar a:hover {
  color: #000000;
  background-color: #FFBBBB;
}

.navbar-selected {
  color: #000000;
  background-color: #FFFFFF;
}

#content {
  // border: solid 2px red;
  // background-color: antiquewhite;
  margin-left: 170px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 0px;
}

//:::::::://
// TABLES //
//:::::::://

table {
  border-collapse: collapse;
}

th, td {
  border: solid 1px #000000;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}

//::::::::::::::::
// FORM (GENERIC)
//::::::::::::::::

form {
  position: relative;
}

form label {
  // margin-right: 50px;
  display: block;
}

form input {
  position: absolute;
  right: 0px;
  text-align: center;
}

form select {
  position: absolute;
  right: 0px;
}

form textarea {
  width: 100%;
}

.form-required {
  padding: 4px 0 4px 0;
  font-size: 0.7em;
}

//:::::::::::::::::://
// FORM (SPECIFICS) //
//:::::::::::::::::://

#login-form {

}

#signup-form {

}

#copy-form h3 {
  margin: 4px 0 4px 0;
}

// #entry-form {
//   max-width: 400px;
//   min-width: 300px;
//   margin-right: 10px;
//   padding: 10px;
//   border: solid 1px #000000;
//   border-radius: 5px;
// }

#search-form {
  display: none;
}

#signout-nickname-form {
  width: 325px; 
}

//:::::::::::://
// CONTAINERS //
//:::::::::::://

#login-container {
  max-width: 300px;
  min-width: 220px;
  margin-right: 10px;
  padding: 10px;
  border: solid 1px #000000;
  border-radius: 5px;
}

#signup-container {
  min-width: 275px;
  max-width: 355px;
  margin-right: 10px;
  padding: 10px;
  border: solid 1px #000000;
  border-radius: 5px;
}

#catalogue-container {
  min-width: 300px;
  max-width: 1000px;
}

#add-entry-container {
  max-width: 400px;
  min-width: 300px;
  margin-right: 10px;
  padding: 10px;
  border: solid 1px #000000;
  border-radius: 5px;
}

#entry-container {
  min-width: 390px;
  max-width: 800px;
  margin-right: 10px;
  padding: 10px;
  border: solid 1px #000000;
  border-radius: 5px;
}

#add-copies-container {
  max-width: 390px;
}

#add-member-container {
  max-width: 300px;
  min-width: 240px;
  margin-right: 10px;
  padding: 10px;
  border: solid 1px #000000;
  border-radius: 5px;
}

#member-list-container {
  max-width: 600px;
}

#member-container {
  min-width: 510px;
  max-width: 600px;
  margin-right: 10px;
  padding: 10px;
  border: solid 1px #000000;
  border-radius: 5px;
}

#signout-container {
  display: none;
}

.copy-submit {
  display: block;
}

//::::::::://
// RESULTS //
//::::::::://

#search-results {
  display: none;
}

#signout-nickname-results {
  margin-top: 50px;
}

// Classes & Other Things

.catalogue-entry {
  padding: 10px;
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.list-member {
  padding: 10px;
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}


.entry-copy {
  display: block;
  margin: 2px;
  border: 1px solid $copy-border-color;
  border-radius: 2px;
}


.entry-copy p {
  display: inline-block;
  border: 1px solid #000000;
  padding: 3px;
}