{ 
  "plugins": [
    "react"
  ],
  "extends": [
    "airbnb/base",
    "plugin:react/recommended",
  ],
  "rules": {
    "no-underscore-dangle" : "off",
    "no-plusplus": "off",
    "no-console": 0,
  },
}