<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Honsan - Homepage</title>
  <link rel="shortcut icon" href="/assets/media/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  <script src="/assets/helper.js" type="text/javascript"></script>
  <script src="/assets/add_entry.js" type="text/javascript"></script>
</head>
<body>
  <img src='/assets/media/banner.png' alt='A Banner Ad (eventually)' id='banner-ad'>
  <ul id='navbar'>
    <li><a id='navbar-new-entry' href='/' class='navbar-selected'>New Entry</a></li>
    <li><a id='navbar-add-member' href='/add_member'>Add Member</a></li>
    <li><a id='navbar-catalog' href='/catalogue'>Catalog</a></li>
    <li><a id='navbar-member-list' href='/member_list'>Member List</a></li>
    <li><a id='navbar-logout' href='/logout'>Log Out</a></li>
  </ul>
  <div id='content'>
    <h1>Add Entry</h1>
    <form id='search-form'
          name='search-form'
          class='search-form'>
      <h3>Search </h3>
      <select name='searchType'>
        <option value='anime'>Anime</option>
        <option value='manga'>Manga</option>
      </select>
      <h3> :</h3>
      <input id='search-query' type='text' name='query' placeholder='search term...' />
      <input id='search-submit' type='submit' value='Search Kitsu' />
    </form>
    <div id="search-results"></div>
    <div id='add-entry-container'>
      <form id='entry-form'
              name='entry-form'
              class='entry-form'>
        <label for='engName'>English Name: <span class='form-required'>*</span>
          <input id='entry-eng-name' type='text' name='engName' placeholder='eng. name' />
        </label>
        <label for='japName'>Japanese Name:
          <input id='entry-jap-name' type='text' name='japName' placeholder='jap. name' />
        </label>
        <label for='trnName'>Transliteral Name:
          <input id='entry-trn-name' type='text' name='trnName' placeholder='trn. name' />
        </label>
        <h3>Description:</h3>
        <textarea id='entry-description' form='entry-form' rows='6' cols='45' name='description' placeholder='description'></textarea>
        <label for='genres'>Genres:
          <input id='entry-genres' type='text' name='genres' placeholder='ex; action, adventure' />
        </label>
        <label for='publisher'>Publisher:
          <input id='entry-publisher' type='text' name='publisher' placeholder='publisher' />
        </label>
        <label for='mediaType'>Media Type:
          <select name='mediaType'>
            <option value='anime'>Anime</option>
            <option value='manga'>Manga</option>
            <option value='other'>Other</option>
          </select>
        </label>
        <input type='hidden' name='_csrf' value='{{csrfToken}}'>
        <label class='form-required'>* Required</label>
        <input class='entry-submit' type='submit' value='Add to Catalogue'/>
      </form>
      <div id='entry-results'></div>
    </div>
  </div>
</body>
</html>