<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Honsan - Homepage</title>
  <link rel="shortcut icon" href="/assets/media/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  <script src="/assets/add_entry.js" type="text/javascript"></script>
</head>
<body>
  <ul id='navbar'>
    <li><a href='/' class='navbar-selected'>New Entry</a></li>
    <li><a href='/add_copy'>Add Copy</a></li>
    <li><a href='/catalogue'>Catalogue</a></li>
  </ul>
  <form id='search-form'
        name='search-form'
        class='search-form'>
    <h3>Search </h3>
    <select name='searchType'>
      <option value='anime'>Anime</option>
      <option value='manga'>Manga</option>
    </select>
    <h3> :</h3>
    <input id='search-query' type='text' name='query' placeholder='search term...' />
    <input id='search-submit' type='submit' value='Search Kitsu' />
  </form>
  <div id="search-results"></div>
  <form id='entry-form'
          name='entry-form'
          class='entry-form'>
    <label for='engName'>English Name:</label>
    <input id='entry-eng-name' type='text' name='engName' placeholder='eng. name' />
    <label for='japName'>Japanese Name:</label>
    <input id='entry-jap-name' type='text' name='japName' placeholder='jap. name' />
    <label for='trnName'>Transliteral Name:</label>
    <input id='entry-trn-name' type='text' name='trnName' placeholder='trn. name' />
    <h3>Description:</h3>
    <textarea id='entry-description' form='entry-form' rows='6' cols='80' name='description' placeholder='description'></textarea>
    <label for='genres'>Genres:</label>
    <input id='entry-genres' type='text' name='genres' placeholder='ex; action, adventure' />
    <label for='publisher'>Publisher:</label>
    <input id='entry-publisher' type='text' name='publisher' placeholder='publisher' />
    <label for='mediaType'>Media Type:</label>
    <select name='mediaType'>
      <option value='anime'>Anime</option>
      <option value='manga'>Manga</option>
      <option value='other'>Other</option>
    </select>
    <input type='hidden' name='_csrf' value='{{csrfToken}}'>
    <input class='entry-submit' type='submit' value='Add to Catalogue'/>
  </form>
  <div id='entry-results'></div>
</body>
</html>