<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Honsan - Homepage</title>
  <link rel="shortcut icon" href="/assets/media/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  <script src="test.js" type="text/javascript">
</head>
<body> 
  <h1>Go home! There's nothing here yet.</h1>
  <div id="app">
  </div>
</body>
</html>