<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Honsan - Log In</title>
  <link rel="shortcut icon" href="/assets/media/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="/assets/helper.js" type="text/javascript"></script>
  <script src="/assets/login.js" type="text/javascript"></script>
</head>
<body>
  <img src='/assets/media/banner.png' alt='A Banner Ad (eventually)' id='banner-ad'>
  <ul id='navbar'>
    <li><a href='' id='navbar-login' class='navbar-selected'>Log In</a></li>
    <li><a href='' id='navbar-signup'>Sign Up</a></li>
  </ul>
  <div id='content'></div>
</body>
</html>