<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Honsan - Sign Up</title>
  <link rel="shortcut icon" href="/assets/media/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  <script src="/assets/helper.js" type="text/javascript"></script>
  <script src="/assets/signup.js" type="text/javascript"></script>
</head>
<body>
  <img src='/assets/media/banner.png' alt='A Banner Ad (eventually)' id='banner-ad'>
  <ul id='navbar'>
    <li><a href='/login'>Log In</a></li>
    <li><a href='/signup' class='navbar-selected'>Sign Up</a></li>
  </ul>
  <div id='content'>
    <div id='signup-container'>
      <form id='signup-form'
            name='signup-form'
            class='signup-form'>
        <label for='username'>Username:
          <input class='signup-username' type='text' name='username' placeholder='username' />
        </label>
        <label for='password'>Password:
          <input class='signup-password' type='password' name='password' placeholder='password' />
        </label>
        <label for='password2'>Retype Password:
          <input class='signup-password2' type='password' name='password2' placeholder='password (again)' />
        </label>
        <input type='hidden' name='_csrf' value='{{csrfToken}}'>
        <input class='signup-submit' type='submit' value='Sign Up'/>
      </form>
    </div>
    <div id='signup-results'></div>
  </div>
</body>
</html>