body {
  width: 100%;
  margin: 0 auto; }

h1 {
  color: #6666CC; }

.navbar-selected {
  color: springgreen; }

.catalogue-entry {
  padding: 10px;
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 5px; }

.entry-copy {
  padding: 10px;
  margin: 10px;
  border: 1px solid #CC6666;
  border-radius: 2px; }
