body {
  width: 100%;
  margin: 0 auto; }

h1 {
  color: #6666CC; }

#banner-ad {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-height: 200px;
  max-width: 360px; }

#navbar {
  float: left;
  background-color: #DDDDDD;
  padding: 10px 10px 10px 50px;
  border: solid 1px #000000;
  border-radius: 0 5px 5px 0;
  margin-right: 5px; }

#navbar li {
  max-width: 100px; }

.navbar-selected {
  color: springgreen; }

#content {
  float: right;
  border: solid 2px red; }

#login-form {
  max-width: 350px; }

#login-form label {
  float: left; }

#login-form input {
  text-align: center;
  float: right; }

.catalogue-entry {
  padding: 10px;
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 5px; }

.entry-copy {
  padding: 10px;
  margin: 10px;
  border: 1px solid #CC6666;
  border-radius: 2px; }
