body {
  width: 100%;
  margin: 0 auto; }

h1 {
  color: #6666CC; }

#search-form {
  display: none; }

.catalogue-entry {
  padding: 10px;
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 5px; }
